.task{
    padding: 0px;
}
.tasks__button{
    width: 30px;
    height: 30px;
    color: white;
    border: none;
}
.tasks__item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 20px;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border-bottom: 2px solid #eee;
    
}
.task__button-delete{
    background-color: hsl(0, 100%, 40%);
}
.task__button-delete:hover{
    background-color: hsl(0, 100%, 50%);
}
.task__button-delete:active{
    background-color: hsl(0, 100%, 60%);
}
.tasks__button--done{
    background-color: green;
}
.tasks__button--done:hover{
    background-color: hsl(120, 100%, 30%);
    }
 .tasks__button--done:active{
        background-color: hsl(120, 100%, 35%);
        }
.tasks__content--done{
    text-decoration: line-through;
}
.tasks__content{
    text-transform: capitalize;
}